# Project dependencies
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
.cache/
# Build directory
public/
storybook-static
.DS_Store
yarn-error.log

graphql-types.ts

# only gh-pages and netlify
#src/pages/catalogue.tsx
#src/pages/tab-page.tsx
#src/pages/jumbotron.tsx
#src/pages/without-drawer.tsx
#src/pages/custom-layout.tsx

#src/gatsby-theme-aoi/layout/BottomNav/
#src/gatsby-theme-aoi/layout/DrawerInner/